{% extends "base.html" %}
{% load static %}

{% block title %}Darul Fateh | Service Detail{% endblock %}

{% block content %}

    <section class="page-title" style="background-image:url({% static 'assets/images/background/page-title.jpg' %})">
        <div class="auto-container">
            <h2>Services Details</h2>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'admin_panel:index' %}">Home</a></li>
                <li><a href="{% url 'admin_panel:services' %}">Services</a></li>
                <li>Services Details</li>
            </ul>
        </div>
    </section>

    <section class="gallery-two style-two">
        <div class="outer-container">
            <div class="gallery-two_carousel swiper-container">
                <div class="swiper-wrapper">
    
                    <div class="swiper-slide">
                        <div class="gallery-block_two">
                            <div class="gallery-block_two-inner">
                                <div class="gallery-block_two-image">
                                    <img src="{% static 'assets/images/gallery/9.jpg' %}" alt="" />
                                    <a class="gallery-block_two-arrow theme-btn flaticon-up-right-arrow" href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="gallery-block_two">
                            <div class="gallery-block_two-inner">
                                <div class="gallery-block_two-image">
                                    <img src="{% static 'assets/images/gallery/10.jpg' %}" alt="" />
                                    <a class="gallery-block_two-arrow theme-btn flaticon-up-right-arrow" href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="gallery-block_two">
                            <div class="gallery-block_two-inner">
                                <div class="gallery-block_two-image">
                                    <img src="{% static 'assets/images/gallery/11.jpg' %}" alt="" />
                                    <a class="gallery-block_two-arrow theme-btn flaticon-up-right-arrow" href="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}