{% extends "base.html" %}
{% load static %}

{% block title %}Darul Fateh | Our Services{% endblock %}

{% block content %}

    <section class="page-title" style="background-image:url({% static 'assets/images/background/page-title.jpg' %})">
        <div class="auto-container">
            <h2>Our Services</h2>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'admin_panel:index' %}">Home</a></li>
                <li>Services</li>
            </ul>
        </div>
    </section>

    <section class="service-two">
        <div class="auto-container">
            <div class="row clearfix">

                <div class="service-block_two col-lg-4 col-md-6 col-sm-12">
                    <div class="service-block_two-inner wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1000ms">
                        <div class="service-block_two-upper">
                            <div class="service-block_two-icon flaticon-quran-1"></div>
                            <div class="service-block_two-big_icon">
                                <img src="{% static 'assets/images/icons/service-1.png' %}" alt="" />
                            </div>
                            <h4 class="service-block_two-heading"><a href="{% url 'admin_panel:service_detail' 1 %}">Online Quran <br> Classes</a></h4>
                            <div class="service-block_two-text">There are many variations of passages of lorem ipsum available lorem ipsum dolor sit amet</div>
                        </div>
                        <div class="service-block_two-lower">
                            <a class="service-block_two-more" href="{% url 'admin_panel:service_detail' 1 %}">Read More<i class="fa-solid fa-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                </div>

                <div class="service-block_two col-lg-4 col-md-6 col-sm-12">
                    <div class="service-block_two-inner wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1000ms">
                        <div class="service-block_two-upper">
                            <div class="service-block_two-icon flaticon-pray"></div>
                            <div class="service-block_two-big_icon">
                                <img src="{% static 'assets/images/icons/service-1.png' %}" alt="" />
                            </div>
                            <h4 class="service-block_two-heading"><a href="{% url 'admin_panel:service_detail' 1 %}">Online Islamic <br> Classes</a></h4>
                            <div class="service-block_two-text">There are many variations of passages of lorem ipsum available lorem ipsum dolor sit amet</div>
                        </div>
                        <div class="service-block_two-lower">
                            <a class="service-block_two-more" href="{% url 'admin_panel:service_detail' 1 %}">Read More<i class="fa-solid fa-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                </div>

                <div class="service-block_two col-lg-4 col-md-6 col-sm-12">
                    <div class="service-block_two-inner wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1000ms">
                        <div class="service-block_two-upper">
                            <div class="service-block_two-icon flaticon-quran-2"></div>
                            <div class="service-block_two-big_icon">
                                <img src="{% static 'assets/images/icons/service-1.png' %}" alt="" />
                            </div>
                            <h4 class="service-block_two-heading"><a href="{% url 'admin_panel:service_detail' 1 %}">Expert Quran <br> Tutor</a></h4>
                            <div class="service-block_two-text">There are many variations of passages of lorem ipsum available lorem ipsum dolor sit amet</div>
                        </div>
                        <div class="service-block_two-lower">
                            <a class="service-block_two-more" href="{% url 'admin_panel:service_detail' 1 %}">Read More<i class="fa-solid fa-arrow-right fa-fw"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="cta-two">
        <div class="auto-container">
            <div class="inner-container d-flex justify-content-between align-items-center flex-wrap">
                <div class="cta-two_bg" style="background-image:url({% static 'assets/images/background/cta-one_bg.png' %})"></div>
                <div class="cta-two_icon flaticon-nabawi-mosque"></div>
                <h3 class="cta-two_heading">Proud to be serving thousands of Muslim <br> Families around the World</h3>
                <div class="cta-two_button">
                    <a href="{% url 'admin_panel:contact' %}" class="theme-btn btn-style-three">
                        <span class="btn-wrap">
                            <span class="text-one">Contact Us</span>
                            <span class="text-two">Contact Us</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}